.btn-blue {
	background-color: #635BFF;
	padding: 15px 20px;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}


